table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.send-button-style{
  margin-top: 20px;
    color: white;
    /* margin: auto; */
    background: #3535a0;
}
tr:nth-child(even) {
    background-color: #dddddd;
}